CompileFlags:
  Compiler: emcc
  Add: [
    -DEMSCRIPTEN,
    -DSOKOL_GLES3,
    -target,
    wasm32-unknown-emscripten,
    --sysroot=/home/l-m/git/emsdk/upstream/emscripten/cache/sysroot,
    -Xclang,
    -iwithsysroot/include/compat,
    -I/home/l-m/git/sdd-assesment2/include,
    -I/home/l-m/git/sdd-assesment2/cimgui,
    -I/home/l-m/git/sdd-assesment2/sokol,
    -Wno-unused-parameter,
    -Wno-unused-function,
    -Wall,
    -Wextra,
    -Wshadow,
    -std=gnu11,
  ]
  